<div class="search-center">
  <mat-form-field appearance="standard">
    <input
      matInput
      #searchPokemon
      type="search"
      placeholder="Rechercher par nom"
      (input)="search(searchPokemon.value)"
    />
  </mat-form-field>
</div>

<mat-divider></mat-divider>

<mat-list
  class="pokemon-list"
  infiniteScroll
  [scrollWindow]="false"
  (scrolled)="onScroll()"
>
  <ng-container *ngIf="pokemons">
    <mat-list-item
      *ngFor="let pokemon of pokemons"
      (click)="onSelect(pokemon.id)"
      class="element"
    >
      <!-- <mat-list-item
      *ngFor="let pokemon of pokemons"
      routerLink="details/{{ pokemon.id }}"
      class="element"
    > -->
      <img
        matListAvatar
        src="assets/img/sprites/{{ pokemon.id }}.png"
        alt="{{ pokemon.name }}"
      />
      <h3 matLine>{{ pokemon.name }}</h3>
      <p matLine>
        <span> {{ pokemon.id }} </span>
      </p>
    </mat-list-item>
  </ng-container>
</mat-list>
